


body{
  background-color: #000;
color: #fff;
font-size: 14px;
line-height: 24px;
  font-family: 'Montserrat-Regular';
}
.container{
  padding: 0 15px;
  max-width: 1150px;
  margin: 0 auto;
}

a{
  color: #636363; 
  font-size: 14px;
  cursor: pointer;
  // flex-wrap: nowrap;
  font-family: 'Montserrat-Bold';
}
// .container__small{
//   padding: 0 15px;
//   max-width: 1440px;
//   margin: 0 auto;
// }